.contact-container {
    background-color: white; /* Background color is white */
    color: #333; /* A soft black for the text for better readability on white */
    text-align: center;
    padding: 40px;
    min-height: 100vh; /* Adjust or remove depending on your layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-title {
    color: #333; /* Title color changed to soft black for contrast */
    margin-bottom: 20px;
    font-size: 2em; /* Adjust the size as needed */
}

.contact-form {
    width: 100%;
    max-width: 500px; /* Adjust width as needed */
    border: 1px solid #ddd; /* subtle border */
    padding: 20px;
    border-radius: 8px; /* Rounded corners for the form */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Soft shadow for depth */
}

.input-group {
    margin-bottom: 15px;
    background: #f7f7f7; /* Light grey background for input fields */
    border-radius: 5px;
    overflow: hidden;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    border: none;
    padding: 15px;
    background: none;
    color: #333; /* Input text color is soft black for readability */
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: #888; /* Placeholder text is a medium grey */
}

.send-button {
    width: 100%;
    padding: 15px;
    border: none;
    background-color: #5e72eb; /* A green color for the button */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px; /* Rounded corners for the button */
}

.send-button:hover {
    background-color: #5e72eb; /* A darker shade of green on hover */
}

.contact-footer {
    margin-top: 30px;
    color: #333; /* Footer text is soft black */
}
