/* Footer Styles */
.footer {
    background-color: #5E72EB; /* Match the Header's Primary Color */
    color: #F4F5F7; /* Match the Header's Text Color */
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1000;
    text-align: center; /* Center the text or content if needed */
}

/* Social Link Styles */
.social-link {
    text-decoration: none;
    color: #F4F5F7; /* Match the Header's Text Color */
    margin: 0 10px; /* Adjust margin as needed */
    font-weight: bold; /* Optional: if you want to match the header's font weight */
    transition: color 0.3s ease;
}

.social-link:hover {
    color: #FFD600; /* Match the Header's Hover State Color */
}
