.projects-container {
    padding: 20px; /* Increase the top padding to at least the height of the header */
    background-color: white;
    color: #5e72eb;
}


.projects-title {
    text-align: center;
    margin-bottom: 40px;
}

.project {
    margin-bottom: 30px;
    background-color: #ffffff; /* Adjust card background color as needed */
    padding: 15px;
    border-radius: 8px; /* Optional: for rounded corners */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optional: for shadow effect */
}



.project-description {
    margin: 10px 0;
}

.project-technologies {
    font-style: italic;
}

.project:hover{
    background-color: #5e72eb; /* Color changes on hover */
    color: #f4f5f7; /* Text color changes on hover */
    transform: translateY(-3px); /* Makes the skill 'pop' up slightly */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Enhances the shadow for a 'lifted off the page' look */
}
